@use '../bootstrap' as * ; 
@use '../components/mixins' as *;

.btn-rounded{
    @include media-breakpoint-down(sm){
        transform:scale(0.85);
    };
    position:relative;
    padding: 0.7rem 4.5rem 0.7rem 1.25rem;
    font-weight: 600;
    margin: 0 ;
    border: 2px solid rgba($white,0.6);
    background-color: $white;
    transition: all ease 0.1s;
    outline:none;

    span{
        position: absolute;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;

        i{
            color: $white;
            font-size: 1rem;
            line-height:2.5;
        }
        
    }
    &:hover{
        @include gradient;
        color:$white;
        span{
            background-color: rgba(#000,0.6 );
        }
    }
}